body {
  height: 100vh;
  background-color: #F2F4F1;
}

* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #4a4c4d;
}


#footer .grid::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 2px; /* Ширина разделителя */
  background-color: var(--customGreen-normal); /* Цвет разделителя */
}


#modal-menu.active {
  display: block;
}

#close-modal {
  cursor: pointer;
  font-size: 2rem;
}

body.modal-open {
  overflow: hidden;
}


.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  width: 80%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;


}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



a:focus {
  outline: none;
  box-shadow: none;
}


.search-container {
  position: relative;
  transition: all 0.3s ease;
}

.search-box {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  overflow: hidden; /* Скрыть переполнение */
}

.search-box.active {
  width: 100%; /* Растянуть на всю ширину */
  opacity: 1;
  padding: 0; /* Убрать отступы */
}

.logo-container.hidden {
  display: none; /* Скрыть ссылку на логотип */
}


#bannerSwiper {
  height: 500px;

  #calendar{
    width: auto;
    height: auto;
  }

  #swiper-navigation-container {
    position: absolute;
    bottom: 10px;
    padding: 0 30px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 50;

    #banner-pagination {
      position: unset;
      text-align: unset;

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }

      .swiper-pagination-bullet {
        background-color: hsla(113, 47%, 93%, 1);
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background-color: hsla(111, 48%, 55%, 1);
        }
      }
    }
  }
  @media (max-width: 767px) {
    #swiper-navigation-container {
      padding: 0 10px;
    }
  }
}


#productSwiper {
  height: auto;

  #swiper-button-next {
    position: absolute;
    top: 50%; /* Сдвигает кнопку на половину высоты родителя */
    right: 0; /* Прижимает кнопку к правому краю */
    transform: translateY(-50%); /* Центрирует кнопку по вертикали */
    z-index: 50;
  }

  #swiper-button-prev {
    position: absolute;
    top: 50%; /* Сдвигает кнопку на половину высоты родителя */
    left: 0; /* Прижимает кнопку к правому краю */
    transform: translateY(-50%); /* Центрирует кнопку по вертикали */
    z-index: 50;
  }



  #productSwiper-wrapper {
    #product-swiper-slide {
      width: auto;
      max-width: 100%;
      text-align: left;
      justify-content: space-between;
      align-items: normal;

      img {
        height: 168px;
        object-fit: contain;
      }

      #add-button {
        width: 32px;
        height: 32px;
      }

    }

  }
}


#breadcrumbs a:last-child {
  color: hsla(111, 48%, 55%, 1); /* Цвет для последнего элемента */
}

.underscore a:last-child{
  text-decoration: underline;
}

.breadcrumbs-text span{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

