@charset "UTF-8";
body {
  height: 100vh;
  background-color: #F2F4F1;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #4a4c4d;
}

#footer .grid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 2px; /* Ширина разделителя */
  background-color: var(--customGreen-normal); /* Цвет разделителя */
}

#modal-menu.active {
  display: block;
}

#close-modal {
  cursor: pointer;
  font-size: 2rem;
}

body.modal-open {
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  width: 80%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a:focus {
  outline: none;
  box-shadow: none;
}

.search-container {
  position: relative;
  transition: all 0.3s ease;
}

.search-box {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  overflow: hidden; /* Скрыть переполнение */
}

.search-box.active {
  width: 100%; /* Растянуть на всю ширину */
  opacity: 1;
  padding: 0; /* Убрать отступы */
}

.logo-container.hidden {
  display: none; /* Скрыть ссылку на логотип */
}

#bannerSwiper {
  height: 500px;
}
#bannerSwiper #calendar {
  width: auto;
  height: auto;
}
#bannerSwiper #swiper-navigation-container {
  position: absolute;
  bottom: 10px;
  padding: 0 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 50;
}
#bannerSwiper #swiper-navigation-container #banner-pagination {
  position: unset;
  text-align: unset;
}
#bannerSwiper #swiper-navigation-container #banner-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
#bannerSwiper #swiper-navigation-container #banner-pagination .swiper-pagination-bullet {
  background-color: hsl(113, 47%, 93%);
  opacity: 1;
}
#bannerSwiper #swiper-navigation-container #banner-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: hsl(111, 48%, 55%);
}
@media (max-width: 767px) {
  #bannerSwiper #swiper-navigation-container {
    padding: 0 10px;
  }
}

#productSwiper {
  height: auto;
}
#productSwiper #swiper-button-next {
  position: absolute;
  top: 50%; /* Сдвигает кнопку на половину высоты родителя */
  right: 10px; /* Прижимает кнопку к правому краю */
  transform: translateY(-50%); /* Центрирует кнопку по вертикали */
  z-index: 50;
}
#productSwiper #swiper-button-prev {
  position: absolute;
  top: 50%; /* Сдвигает кнопку на половину высоты родителя */
  left: 10px; /* Прижимает кнопку к правому краю */
  transform: translateY(-50%); /* Центрирует кнопку по вертикали */
  z-index: 50;
}
#productSwiper #productSwiper-wrapper #product-swiper-slide {
  width: auto;
  max-width: 100%;
  text-align: left;
  justify-content: space-between;
  align-items: normal;
}
#productSwiper #productSwiper-wrapper #product-swiper-slide img {
  height: 168px;
  object-fit: cover;
}
#productSwiper #productSwiper-wrapper #product-swiper-slide #add-button {
  width: 32px;
  height: 32px;
}

#reviewsSwiper {
  height: auto;
}
#reviewsSwiper #reviews-button-next {
  position: absolute;
  top: 50%; /* Сдвигает кнопку на половину высоты родителя */
  right: 10px; /* Прижимает кнопку к правому краю */
  transform: translateY(-50%); /* Центрирует кнопку по вертикали */
  z-index: 50;
}
#reviewsSwiper #reviews-button-prev {
  position: absolute;
  top: 50%; /* Сдвигает кнопку на половину высоты родителя */
  left: 10px; /* Прижимает кнопку к правому краю */
  transform: translateY(-50%); /* Центрирует кнопку по вертикали */
  z-index: 50;
}
#reviewsSwiper #productSwiper-wrapper #product-swiper-slide {
  width: auto;
  height: 100%;
  text-align: left;
  justify-content: space-between;
  align-items: normal;
}
#reviewsSwiper #productSwiper-wrapper #product-swiper-slide .img {
  height: 100%;
  object-fit: cover;
}
#reviewsSwiper #productSwiper-wrapper #product-swiper-slide #add-button {
  width: 32px;
  height: 32px;
}

#documentSwiper {
  height: auto;
}
#documentSwiper #swiper-button-next {
  position: absolute;
  top: 50%; /* Сдвигает кнопку на половину высоты родителя */
  right: 10px; /* Прижимает кнопку к правому краю */
  transform: translateY(-50%); /* Центрирует кнопку по вертикали */
  z-index: 50;
}
#documentSwiper #swiper-button-prev {
  position: absolute;
  top: 50%; /* Сдвигает кнопку на половину высоты родителя */
  left: 10px; /* Прижимает кнопку к правому краю */
  transform: translateY(-50%); /* Центрирует кнопку по вертикали */
  z-index: 50;
}
#documentSwiper #productSwiper-wrapper #product-swiper-slide {
  width: auto;
  text-align: left;
  justify-content: space-between;
  align-items: normal;
}
#documentSwiper #productSwiper-wrapper #product-swiper-slide .img {
  height: 100%;
  object-fit: cover;
}
#documentSwiper #productSwiper-wrapper #product-swiper-slide #add-button {
  width: 32px;
  height: 32px;
}

#breadcrumbs a:last-child {
  color: hsl(111, 48%, 55%); /* Цвет для последнего элемента */
}

.underscore a:last-child {
  text-decoration: underline;
}

.breadcrumbs-text span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

/* Стили для инпута */
.custom-number-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  outline: none;
  width: 66px;
  height: 36px;
  padding: 6px 10px;
  border: 1px solid #CBD5E1;
  border-radius: 6px;
  font-weight: normal; /* Это соответствует 'font-normal' */
  font-size: 16px; /* Для 'text-[16px]' */
  line-height: 1.25; /* Для 'leading-5' (где 5 — это примерно 1.25) */
  text-align: center;
}

.custom-number-input:focus {
  border-color: #007bff; /* Цвет границы при фокусе */
}

/* Убираем стрелочки */
.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input[type=number] {
  -moz-appearance: textfield; /* Убирает стрелочки в Firefox */
}

.navigation.pagination {
  padding: 13px 15px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #CBD5E1;
  font-weight: bold; /* Это соответствует 'font-normal' */
  font-size: 16px; /* Для 'text-[16px]' */
  line-height: 1.25; /* Для 'leading-5' (где 5 — это примерно 1.25) */
  text-align: center;
}
.navigation.pagination .nav-links {
  display: flex;
  gap: 20px;
}
.navigation.pagination span {
  color: #94A3B8;
}
.navigation.pagination a {
  color: #68C457;
}

.accordion-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content.show {
  display: block;
}

/* Стиль для иконки */
.toggle-icon {
  transition: transform 0.3s ease; /* Плавный переход */
}

/* Класс для поворота иконки на 30 градусов */
.toggle-icon.rotate {
  transform: rotate(30deg);
}

.toggle-icon.rotate {
  transform: rotate(45deg); /* Поворот на 30 градусов */
  transition: transform 0.3s ease; /* Плавный переход */
}

/*# sourceMappingURL=style.css.map */
